body {
    margin: 0;
    padding: 0;
    background-color: black;
  }
  
  .bg-container {
    background-image: url("bg13.avif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
    opacity: 1;
    padding: 100px;
    overflow: hidden;
  }
  
  .food-heading {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 50px;
    color: #ffffff;
    margin: 0;
    padding: 39px;
  }
  
  .food-card-container {
    background-color: black;
    border-radius: 30px;
    padding: 35px;
    margin: 60px;
    height: 1500px;
    color: white;
    width: 1300px;
    box-shadow: 5px 5px 5px 5px white;
    z-index: 1;
  }
  
  .food-card-heading {
    color: white;
  }
  
  ol{
    color: orange;
    font-style: italic;
    font-size: 30px;
    font-family: "cursive";
  }
  
  .food-card-image {
    height: 800px;
    width: 600px;
    border-radius: 10px;
    margin-right: 20px;
  }
  
  .checked {
    color: orange;
  }
  
  .fa-star-half-o {
    color: orange;
  }
  
  .rating-heading {
    color: rgb(232, 183, 93);
    font-size: 20px;
    margin-top: 10px;
  }
  
  .slogan {
    text-align: center;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    color: #ffffff;
  }
  
  .button {
    padding: 12px;
    background-color: rgb(219, 94, 94);
    color: white;
    font-size: 20px;
    font-weight: medium;
    border-width: 0px;
    margin:px;
    border-radius: 10px;
    font-family: "cursive";

  }


  
  .star {
    background-color: rgb(63, 161, 63);
    color: white;
    width: 60px;
    border-width: 0px;
    border-radius: 9px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
  }
  
  .container1 {
    padding: 30px;
    background-color: #f6c56e;
  }
  
  .button1 {
    padding: 10px;
    background-color: white;
    color: black;
    font-size: 15px;
    font-weight: normal;
    border-width: 0px;
    margin: 10px;
    border-radius: 10px;
    font-style: italic;
  }
  
  .nex {
    margin-left: 1100px;
  }
  
  .main-heading {
    color: white;
    margin-top: 50px;
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 55px;
    font-weight: bold;
  }
  
  .header {
    height: 30px;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .para {
    font-size: 20px;
    font-style: italic;
    font-family: "cursive";
  }
  
  .navba-col {
    background-color: #f6c56e;
    color: black;
  }
  
  .navbar-nav .nav-link {
    color: black; /* Change the color to black */
  }
  
  .navbar-nav .nav-link:hover,
  .navbar-nav .nav-link:focus {
    color: black;
    background-color: transparent;
  }
  
  .nav-h {
    color: black;
    font-size: 35px;
    font-weight: 700;
    font-style: oblique;
  }
  .circle{
    list-style-type: disc;
    color: #ffffff;
    font-weight:55px;
   font-style: italic;
   padding-left: 0px;
   margin-top: 10px;
   font-family: Arial, Helvetica, sans-serif;
  
  }
  .food-card-headingg{
    color: white;
  }
  
  